body {
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    color: #343a40;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  @media (max-width: 1200px) {
    .card-img-top {
      max-height: 250px;
    }
  }

  @media (max-width: 768px) {
    .card-img-top {
      max-height: 180px;
    }
  }

  @media (max-width: 480px) {
    .card-img-top {
      max-height: 150px;
    }
  }
form input {
    border-radius: 0.5rem;
}

form button {
    border-radius: 0.5rem;
}
body {
    padding-top: 70px; /* adjust based on your navbar height */
  }
  .ranking-list {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  #carouselExampleCaptions {
    width: 600px;  /* Set the width of the carousel */
    height: 250px;  /* Set the height of the carousel */
    margin: auto;   /* Center the carousel */
}

.carousel-inner img {
    width: 100%;    /* Ensure the image takes up the full width of the container */
    height: 100%;   /* Ensure the image takes up the full height of the container */
    object-fit: cover;  /* Preserve aspect ratio and fill the container */
}
