body {
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    color: #343a40;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  @media (max-width: 1200px) {
    .card-img-top {
      max-height: 250px;
    }
  }

  @media (max-width: 768px) {
    .card-img-top {
      max-height: 180px;
    }
       body {
      font-size: 15px;
    }

    img {
      max-width: 80%;
    }

    h1 {
      font-size: 1.8em;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.95em;
    }
  }

  @media (max-width: 480px) {
    .card-img-top {
      max-height: 150px;
    }
  body {
      font-size: 14px;
    }

    img {
      max-width: 70%;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.2em;
    }

    p {
      font-size: 0.9em;
    }
  }

form input {
    border-radius: 0.5rem;
}

form button {
    border-radius: 0.5rem;
}
body {
    padding-top: 70px;
  }


.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }



.ranking-list {
  margin-top: 20px;
  padding: 20px; /* Padding for inner spacing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-size: 1rem;
  background-color: #ffffff !important; /* White background with !important */
}
